/*
This CSS resource incorporates links to font software which is the valuable copyrighted
property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
Imaging with any questions regarding Web Fonts:  http://webfonts.fonts.com
*/



@import url("http://fast.fonts.com/t/1.css?apiType=css&projectid=3d5e1f48-2570-44a3-b7de-4c88733d85a2");
@font-face{
font-family:"English Script W01 Bold";
src:url("Fonts/84065b16-6b39-4a30-acb0-8c3904ad8ee5.eot?iefix") format("eot");}
@font-face{
font-family:"English Script W01 Bold";
src:url("Fonts/84065b16-6b39-4a30-acb0-8c3904ad8ee5.eot?iefix");
src:url("Fonts/63a0698f-f95e-4086-810b-f2cf6a0a2311.woff") format("woff"),url("Fonts/6917ae65-5e0a-47d1-b7b0-2014dec9e5bf.ttf") format("truetype"),url("Fonts/63f6bef9-d77b-48c4-948f-4215ce28a1ed.svg#63f6bef9-d77b-48c4-948f-4215ce28a1ed") format("svg");
}
@font-face{
font-family:"CommercialScriptW01-Reg";
src:url("Fonts/8ccb968f-824a-4629-81f4-953d070d53bc.eot?iefix") format("eot");}
@font-face{
font-family:"CommercialScriptW01-Reg";
src:url("Fonts/8ccb968f-824a-4629-81f4-953d070d53bc.eot?iefix");
src:url("Fonts/148f22ef-c686-4dcb-968a-7ba275934bb9.woff") format("woff"),url("Fonts/b2da445e-8131-4207-9f58-80e66773de77.ttf") format("truetype"),url("Fonts/87f038c9-0c58-4aa2-962b-273d5f519d37.svg#87f038c9-0c58-4aa2-962b-273d5f519d37") format("svg");
}
@font-face{
font-family:"Empire W01 Regular";
src:url("Fonts/7dfc37b2-bd55-46cb-ad39-5dbcdf18842a.eot?iefix") format("eot");}
@font-face{
font-family:"Empire W01 Regular";
src:url("Fonts/7dfc37b2-bd55-46cb-ad39-5dbcdf18842a.eot?iefix");
src:url("Fonts/32ff84d8-e4da-479e-b646-fffe57307e78.woff") format("woff"),url("Fonts/3e8ff7d7-e2a3-468d-8324-bbd0f9027b75.ttf") format("truetype"),url("Fonts/2dc5d898-d363-41f7-8ccf-03a991b19480.svg#2dc5d898-d363-41f7-8ccf-03a991b19480") format("svg");
}
@font-face{
font-family:"HuxleyVerticalW01-Regul";
src:url("Fonts/233543ca-dd02-4848-ab81-3a3903b0dbfa.eot?iefix") format("eot");}
@font-face{
font-family:"HuxleyVerticalW01-Regul";
src:url("Fonts/233543ca-dd02-4848-ab81-3a3903b0dbfa.eot?iefix");
src:url("Fonts/3fa7ad7a-9154-46df-90af-415b780f2262.woff") format("woff"),url("Fonts/65d3e775-cc78-4476-bb4b-68b2062bcc3d.ttf") format("truetype"),url("Fonts/eb34e38b-ed1e-44c8-8d01-676923f83173.svg#eb34e38b-ed1e-44c8-8d01-676923f83173") format("svg");
}
@font-face{
font-family:"Nevia BT W01 Italic";
src:url("Fonts/36975a9f-477b-4ece-854a-6a0d2364fee8.eot?iefix") format("eot");}
@font-face{
font-family:"Nevia BT W01 Italic";
src:url("Fonts/36975a9f-477b-4ece-854a-6a0d2364fee8.eot?iefix");
src:url("Fonts/006dd50e-da99-4163-92a3-1233268d00b8.woff") format("woff"),url("Fonts/129b6c37-63b1-4416-85c7-81a2db0c231f.ttf") format("truetype"),url("Fonts/60318d68-5e31-4094-bead-9ebd32b4ec0b.svg#60318d68-5e31-4094-bead-9ebd32b4ec0b") format("svg");
}
@font-face{
font-family:"Normande W01 Italic";
src:url("Fonts/63c1eb77-543c-4ee2-86c1-c45690d9fca6.eot?iefix") format("eot");}
@font-face{
font-family:"Normande W01 Italic";
src:url("Fonts/63c1eb77-543c-4ee2-86c1-c45690d9fca6.eot?iefix");
src:url("Fonts/0e181aee-be63-4547-a60d-aa5b2a5f7fc0.woff") format("woff"),url("Fonts/27b36bed-8156-4efb-9be8-2d47d9148cd9.ttf") format("truetype"),url("Fonts/ebc34c84-b161-4070-a73f-b1c3a10cc3f6.svg#ebc34c84-b161-4070-a73f-b1c3a10cc3f6") format("svg");
}


