
			/* --- BASICS --- */
			body{
				
				font-family: Optima, Ariel, sans-serif;
				font-size: 16px;
				line-height: 22px;
				color: #0f0f0f;
				margin: 0;
				background-image: url(../img/bg.jpg);
				
			}
			
			/* ----STRUCTURE -- */
			#wrapper{
				
				width:960px;
			/*	background-color: #7b7c7e; */
				margin: auto;
				
			}
			#header{
				height: 269px;
				background-image: url(../img/header.jpg);
			}
			
			#title {
				
				position: relative;
				top: 0;
				left: 0;
				display: none;
			}
			
			#logo{
				
				float:left;
				margin-right: 15px;
			}
			#flashbanner{
				
				float:left;
			}
			
			#submenu{
			
				height: 375px;
				background-image:url(../img/submenu_bg1.png);
				clear: both;
				
			}
			
			#leftcol{
				width: 250px;
				margin-right: 52px;
				
				float:left;
				
			}
			
			#rightcol{				
				float:left;
				
			}
			#movie{
				
				float: left;				
			}
			
			#content{
				height: 968px;
				background-image: url(../img/content_bg.png);
				clear:both;
				text-align: center;
			}
					
			#footer{
				height: 124px;
				background-image: url(../img/footer.png);
				
			}
			
			#flashContent{
				
					-webkit-box-shadow: 0px 1px 12px rgba(50, 50, 50, 0.7);
					-moz-box-shadow:    0px 1px 12px rgba(50, 50, 50, 0.7);
					box-shadow:         0px 1px 12px rgba(50, 50, 50, 0.7);
				
			}
							
								/*-- TABLES--*/
			 table{
			 	
				 width: 878px;
				 height: 940px;
				 display: block;
				 background-color: #cfcfcf;
				 margin: auto;
				 border-radius: 5px;
					-webkit-border-radius:  5px;
					-moz-border-radius:5px;
					padding: 10px;
					overflow-y: scroll;
				 
			 }
			 
			 
			 td{
			  border:1px solid #cfcfcf;
			  position: relative;
			  top: 0;
			  left: 0;
			 }
			 	
			 			td .showdetails{
							
							position: absolute;
							margin: -170px 10px auto auto;	
													
													
							}
							
			
			.showdetails{
					
					width: 270px;
					height: 140px;
					background: rgba(250, 250, 250, 0.7);
					display: none;
					cursor: pointer;
					padding-top: 20px;
					
									
					
					
				}		
				
			.button{
				
				color: #000;
				
			}	
			
			
								/*--SiteMap--*/
								
					#sitemap{
						
						width: 800px;
						height: 800px;
						margin: auto;
						text-align: left;
						margin-left: 400px;
						
					}
					.pages{
						
						margin-left: 50px;
					}		
					
					
					
			/* ---STYLE --- */
			
				
						/*--type--*/
			
			h2{
				
				font-family: 'Playball', cursive;
				color: #fff;
				font-size: 48px;
				line-height: 50px;
				letter-spacing: 3px;	
				font-weight: lighter;
				text-shadow: 1px 1px 1px #0f0f0f;	
				
				
				
			}
			
			h1{
				font-family: 'Sansita One', cursive;
				font-size: 48px;
				line-height: 50px;
 				color: #de9c28;
				font-weight: lighter;	
				text-shadow: 1px 1px 1px #0f0f0f;
				padding-left: 50px;
				padding-bottom: 10px;
				
			
			}
			
			h3{
				font-family: 'Playball', cursive;
				font-size: 48px;
				line-height: 50px;
 				color: #fff;
				padding: 10px 20px 0 0;	
				font-weight: lighter;	
				text-shadow: 1px 1px 1px #0f0f0f;
				
				
			}
			
			h4{
				font-family: 'Playball', cursive;
				font-size: 30px;
				line-height: 40px;
				font-weight: lighter;	
				
				
				
			}
			
			h5{
				font-weight: lighter;
				font-size: 20px;
				line-height: 28px;
				color: #000;
				
				
				
			}
			
			h6{
				
				font-size: 22px;
				line-height: 24px;
				font-weight: lighter;	
				color: #8b5700;
				
			}
			
			
			a{
				text-decoration: none;
				color: #fff;
				font-size: 16px;
		
			}
			
						
			a:hover{
				text-decoration: underline;
				color: #de9c28;
				
			}
			
		
			
			.subtitle{
				
				font-family: 'Playball', cursive;
				font-size: 28px;
				line-height: 40px;
				font-weight: lighter;
				color: #de9c28;
				
			}
			
		
			
			.link{
				padding: 7px 0 0 100px;
				font-size: 14px;
			}
			
			#terms{
				width: 870px;
				height: 700px;
				margin: auto;
				text-align: left;
				
				
			}
							/*---MENU--*/
				#menu li{
			 	position: relative;
				width: 234px;
				height: 72px;
				text-align: center;
				line-height: 45px;
				
				
			}
			#menu li a{
			
				position: relative;
				width: 234px;
				height: 72px;
				text-decoration: none;
				display: block;
				
				
					
			}
			
		  		#menu li a:hover{
				text-decoration: none;
				font-size: 24px;
				color: #cfcfcf;	
				
			
				
			}
		  .hover{
				position: absolute;
				top:0;
				left:0;
				width: 234px;
				height: 72px;
				display: none;
				
			}
			
			
			
				
			#menu li .sublink{
				
				display: none;	
						
				
			}
			
					
					
			#menu li .sublink img{
				position: relative;
				left:30px;
				top: 0;
				width: 198px;
				height: 72px;
				display: block;	
				
			}

			#menu li .sublink li{
				line-height: 45px;
				z-index: 2;	
							
				
			}
			
			.hover2{
				position: absolute;
				top:0;
				left:0;
				width: 198px;
				height: 72px;
				display: none;
				
			}

									/*-- TABS --*/
									
				#tablinks{
					display: block;
					width: 638px;
					height: 380px;
					float:left;
					margin: -15px 0 0 0;
					background-color: #cfcfcf;
					border-radius: 0 0 5px 5px;
					-webkit-border-radius: 0 0 5px 5px;
					-moz-border-radius: 0 0 5px 5px;
				}
			
			.intab{
				
					width: 612px;
					padding: 5px 5px 5px 10px;
					float:left;
					margin: 0 5px 0 5px;
					background-color: #a4a3a3;
					border-radius: 0 5px 5px 5px;
					-webkit-border-radius: 0 5px 5px 5px;
					-moz-border-radius: 0 5px 5px 5px;
					border-top: 1px solid #fff;
					border-bottom: 1px solid #0f0f0f;
					
			}
				
				.tabnav{
					margin: 15px 0 0 5px;
				}
				
				.tabnav > li{
					display: inline-block;
					width: 200px;
					height: 40px;
					background-color: #a4a3a3;
					border-radius: 5px 5px 0 0;
					-webkit-border-radius: 5px 5px 0 0;
					-moz-border-radius:5px 5px 0 0;
					text-align: center;
					padding-top: 15px;
					border-top: 1px solid #fff;
					border-bottom: 1px solid #0f0f0f;
					border-left: 1px solid #0f0f0f;
					border-right: 1px solid #fff;
					float: left;
									
				}
				
				.tabnav > li:hover {
					display: inline-block;
					width: 200px;
					height: 40px;
					background-color: #bc7700;
					border-radius: 5px 5px 0 0;
					-webkit-border-radius: 5px 5px 0 0;
					-moz-border-radius:5px 5px 0 0;
					
					text-align: center;
					padding-top: 15px;
					border-top: 1px solid #fff;
					border-bottom: 1px solid #0f0f0f;
									
				}
				.tabnav li.ui-tabs-selected {
					display: inline-block;
					width: 200px;
					height: 40px;
					background-color: #bc7700;
					border-radius: 5px 5px 0 0;
					-webkit-border-radius: 5px 5px 0 0;
					-moz-border-radius:5px 5px 0 0;
					
					text-align: center;
					padding-top: 15px;
					border-top: 1px solid #fff;
					border-bottom: 1px solid #0f0f0f;
									
				}
					.tabnav > li a{
						color: #0f0f0f;
						font-size: 30px;
						
					}
					
					.tabnav >li a:hover, .tabnav >li a:active, .tabnav li.ui-tabs-selected a {
						
						color: #fff;
						font-size: 30px;
						text-decoration: none;
						
					}

			 .ui-tabs-hide {
					display: none;
				}
			
										/*--RotateImg--*/
										
				#photoShow {
    	
					width:638px;
					height: 360px;
					-webkit-box-shadow: 0px 1px 12px rgba(50, 50, 50, 0.7);
					-moz-box-shadow:    0px 1px 12px rgba(50, 50, 50, 0.7);
					box-shadow:         0px 1px 12px rgba(50, 50, 50, 0.7);

					}
					#photoShow div {
						position:absolute;
						z-index: 0;
						}
						#photoShow div.previous {
							z-index: 1;
							}
							#photoShow div.current {
								z-index: 2;
								}
			
										/*-- POSTS --*/
										
						.title{
							 margin:50px 30px 30px 30px;
						}
						#posts{
							width: 850px;
							height: 800px;
							background-color: #cfcfcf;
							border-radius: 10px;
							-webkit-border-radius: 10px;
							-moz-border-radius:10px;
							margin: auto;
							padding: 20px;
						}				
						
						#posts >img{
							
							border-radius: 10px;
							-webkit-border-radius: 10px;
							-moz-border-radius:10px;
							margin: 5px 0 0 5px;
							float: left;
							
						}
						
						.inpost p{
							
							text-align: left;
							padding:20px;
							text-indent : 20px;
							
						}					 
						
						.clear{
						clear: both;
						}				
						.left{
							float: left;
							margin-left: 50px;
						}
						.right{
							float: right;
							margin-right: 50px;
						}
		
											
									
									
						
									
									/*--FORM--*/
									
						#contactForm{
							width: 800px;
							height: 800px;
							margin: auto;
							padding: 40px;
							background-color: #cfcfcf;
							border-radius: 10px;
							-webkit-border-radius: 10px;
							-moz-border-radius:10px;
							display : none;
						}
						legend{
						color: #8b5700;
						font-size: 20px;
						margin: auto;
						text-align: center;
						}
						
						.nodisplay{
							color: #8b5700;
							margin-left: 20px;
							display: none;
						}		
									
						#contactForm td{
							padding: 5px 0 10px 20px;
							float:left;
							
						}
						
						input{
							
														
							border-radius: 4px;
							-webkit-border-radius: 4px;
							-moz-border-radius:4px;
						}
						#contactForm input[type="submit"]{
							border-top: 1px solid #fff;
							border-bottom: 1px solid #0f0f0f;
							color: #0f0f0f;
						}
						#contactForm input[type="submit"]:hover{
							background-color: #bc7700;
						}
						
						#contactForm input[type="reset"]{
							border-top: 1px solid #fff;
							border-bottom: 1px solid #0f0f0f;
							color: #0f0f0f;
							margin-left: 500px;
						}
						#contactForm input[type="reset"]:hover{
							background-color: #bc7700;
						}
						
						#noJS {
			width : 650px;
			margin-left : auto;
			margin-right : auto;
			display : block;
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
			border-radius: 8px;
			padding : 20px;
			background-color : #EEE;
		}
						
											/*-- Reviews --*/
			#reviews{
				width: 864px;
				height: 780px;
				margin: 10px 0 0 48px;
					
			}
			
			#reviews ul li{
				position: relative;
				width: 864px;
				height: 200px;
				background-color: #3d3d3d;
				border-radius: 10px;
				-webkit-border-radius: 10px;
				-moz-border-radius:10px;
				margin-top: 20px;
				z-index: 0;
									
			}
			
			
			
			#reviews ul li img{
				border-radius: 10px;
				-webkit-border-radius: 10px;
				-moz-border-radius:10px;
				margin: 5px 0 0 5px;
				float: left;
			}
			
			
			#reviews ul div{
				width: 650px;
				height: 188px;
				background-color: #bebebe;
				border-radius: 10px;
				-webkit-border-radius: 10px;
				-moz-border-radius:10px;
				margin: 5px 0 0 5px;
				padding: 3px 5px 0 5px;
				float: left;
												
				}
				.swap2{
					position: absolute;
					top:0;
					left: 0;	
					display: none;		
					
				}
				
											
											/*-- PARTNERS --*/
											
				#partners{
					position:relative;
					top: 10px;
					left: 0;
					width: 900px;
					height: 122px;
					margin: auto;
					background-color: #626364;
				border-radius: 10px 10px 0 0;
				-webkit-border-radius: 10px 10px 0 0;
				-moz-border-radius:10px 10px 0 0;
				}
			
				#partners>img{
					float:left;
					
				}			
										/*--FOOTER--*/
			
				#footer ul{
										
					position: relative;
					top: 10px;
					left: 26px;
					
					
				}
				
				#footer ul>li{
					float: left;
					margin-left: 34px;
					line-height: 18px;
					margin-top: 18px;
				}
				#footer ul>li:last{
					float: left;
					margin-left: 0;
					line-height: 18px;
					margin-top: 18px;
				}
			
				#footer ul>li a{
					
					color: #000;
				}
			
				#footer ul>li a:hover{
					
					color: #de9c28;
				}
				#footer ul>li {
					
					position: relative;
					top: 0;
					left: 0;
					
					
				}
			
				.swap{
					position: absolute;
					top:inherit;
					left: inherit;	
					display: none;		
					
				}
				
			
			
			
			
			