
			/* --- BASICS --- */
			body{
				
				font-family: Optima, Ariel, sans-serif;
				font-size: 18px;
				line-height: 20px;
				color: #0f0f0f;
				margin: 0;
				background-image: url(../img/bg.jpg);
				
			}
			
			/* ----STRUCTURE -- */
			#wrapper{
				
				width:960px;
			/*	background-color: #7b7c7e; */
				margin: auto;
				
			}
			#header{
				height: 269px;
				background-image: url(../img/header.jpg);
			}
			
			#title {
				
				position: relative;
				top: 0;
				left: 0;
				display: none;
			}
			
			#logo{
				
				float:left;
				margin-right: 15px;
			}
			#flashbanner{
				
				float:left;
			}
			
			#submenu{
			
				height: 375px;
				background-image:url(../img/submenu_bg.png);
				clear: both;
				
			}
			
			#leftcol{
				width: 250px;
				margin-right: 52px;
				
				float:left;
				
			}
			#movie{
				
				float: left;				
			}
			
			#content{
				height: 968px;
				background-image: url(../img/content_bg.png);
				clear:both;
				text-align: center;
			}
					
			#footer{
				height: 124px;
				background-image: url(../img/footer.png);
				
			}
			
					
			/* ---STYLE --- */
			
				
						/*--type--*/
			
			h1{
				
				
				font-size: 48px;
				line-height: 50px;
				letter-spacing: 3px;	
				font-weight: lighter;	
				
				
			}
			
			h2{
				font-family: 'Sansita One', cursive;
				font-size: 48px;
				line-height: 50px;
 				padding-left:250px;	
 				color: #de9c28;
				font-weight: lighter;	
				text-shadow: 1px 1px 1px #0f0f0f;
			}
			
			h3{
				font-family: 'Playball', cursive;
				font-size: 48px;
				line-height: 50px;
 				color: #fff;
				padding: 10px 20px 0 0;	
				font-weight: lighter;	
				text-shadow: 1px 1px 1px #0f0f0f;
				
				
			}
			
			h4{
				font-family: 'Playball', cursive;
				font-size: 30px;
				line-height: 40px;
				font-weight: lighter;	
				
				
				
			}
			
			h5{
				font-weight: lighter;
				font-size: 20px;
				line-height: 28px;
				color: #000;
				
				
				
			}
			
			h6{
				
				font-size: 16px;
				line-height: 18px;
				font-weight: lighter;	
				color: #8b5700;
				
			}
			
			a{
				text-decoration: none;
				color: #fff;
				font-size: 16px;
		
			}
			
			
			a:hover{
				text-decoration: underline;
				color: #de9c28;
				
			}
			
			
			
			.subtitle{
				
				font-family: 'Playball', cursive;
				font-size: 28px;
				line-height: 40px;
				font-weight: lighter;
				color: #de9c28;
				
			}
			.align{
				font-size: 15px;
				text-align: left;
				padding: 10px 10px 0 10px;
			}
			
			.link{
				padding: 7px 0 0 100px;
				font-size: 14px;
			}
		
						/*---MENUS--*/

			#menu li{
			 	position: relative;
				width: 234px;
				height: 72px;
				text-align: center;
				line-height: 45px;
				
				
			}
			#menu li a{
			
				position: relative;
				width: 234px;
				height: 72px;
				text-decoration: none;
				display: block;
				
				
					
			}
			
		  		#menu li a:hover{
				text-decoration: none;
				font-size: 24px;
				color: #cfcfcf;	
				
			
				
			}
		  .hover{
				position: absolute;
				top:0;
				left:0;
				width: 234px;
				height: 72px;
				display: none;
				
			}
			
			
			
				
			#menu li .sublink{
				
				display: none;	
							
				
			}
			
					
					
			#menu li .sublink img{
				position: relative;
				left:30px;
				top: 0;
				width: 198px;
				height: 72px;
				display: block;		
			}

			#menu li .sublink li{
				line-height: 45px;	
							
				
			}
			
			.hover2{
				position: absolute;
				top:0;
				left:0;
				width: 198px;
				height: 72px;
				display: none;
				
			}

			
					
			
			
			
			
							/*-- SLIDER --*/
			#specials{
				width: 864px;
				height: 290px;
				margin-left: auto;
				margin-right: auto;
				padding-left: 30px;
					
			}
			
			button{
				float:left;
				width: 29px;
				height: 280px;
				cursor: pointer;
				display: block;
				border-top: 1px solid #fff;
				border-bottom: 1px solid #0f0f0f;
				border-left: 0;
				border-right:0;
				font-size:20px;
				display: none; 	
				background-color: #a4a3a3;			
			}
			
			button:hover{
				
				background-color: #bc7700;
				
			}
			
				#next{
				border-radius: 10px 0 0 10px;
				-webkit-border-radius: 10px 0 0 10px;

					/* Firefox 1-3.6 */
				-moz-border-radius:10px 0 0 10px;
			}
				#prev{
				border-radius: 0 10px 10px 0;
				-webkit-border-radius: 0 10px 10px 0;

					/* Firefox 1-3.6 */
				-moz-border-radius:0 10px 10px 0;
			}
			
			.slider{
				
				float: left;
				width: 780px;
				height: 278px;
				background-color: #cfcfcf;
				border-bottom: 1px solid #0f0f0f;
				border-top: 1px solid #fff;
				overflow: scroll;
				
								
				
			}
			.slider ul{
				width: 9999px;	
								
				
			}
			.slider li{
				float: left;
				width: 350px;
				padding-top: 14px;
				
			}
			
			
										/* -- END SLIDER --*/
			
										/*-- LINKS --*/
			#reviews{
				width: 864px;
				height: 380px;
				margin: 10px 0 0 48px;
									
			}
			
			#reviews ul li{
				
				width: 200px;
				height: 380px;
				background-color: #3d3d3d;
				border-radius: 10px;
				-webkit-border-radius: 10px;
				-moz-border-radius:10px;
				margin-left: 12px;
				float: left;					
			}
			
			#reviews ul li:last{
				margin: 0;

			}
			
			#reviews ul li img{
				border-radius: 10px;
				-webkit-border-radius: 10px;
				-moz-border-radius:10px;
				margin-top: 5px;
			}
			
			
			#reviews ul li div{
				width: 190px;
				height: 176px;
				background-color: #bebebe;
				border-radius: 10px;
				-webkit-border-radius: 10px;
				-moz-border-radius:10px;
				margin: 3px 0 0 5px;
												
				}
											
											/*-- PARTNERS --*/
											
				#partners{
					position:relative;
					top: 10px;
					left: 0;
					width: 900px;
					height: 122px;
					margin: auto;
					background-color: #626364;
				border-radius: 10px 10px 0 0;
				-webkit-border-radius: 10px 10px 0 0;
				-moz-border-radius:10px 10px 0 0;
				}
			
				#partners>img{
					float:left;
					
				}			
			
			
				#footer ul{
										
					position: relative;
					top: 10px;
					left: 26px;
					
					
				}
				
				#footer ul>li{
					float: left;
					margin-left: 34px;
					line-height: 18px;
					margin-top: 18px;
				}
				#footer ul>li:last{
					float: left;
					margin-left: 0;
					line-height: 18px;
					margin-top: 18px;
				}
			
				#footer ul>li a{
					
					color: #000;
				}
			
				#footer ul>li a:hover{
					
					color: #de9c28;
				}
				#footer ul>li {
					
					position: relative;
					top: 0;
					left: 0;
					
					
				}
			
				.swap{
					position: absolute;
					top:inherit;
					left: inherit;	
					display: none;		
					
				}
				
			
			
			
			
			