		body {
			font-family : "Trebuchet MS", Arial, Verdana, sans-serif;
			font-size : 14px;
		}
		
		.backgroundPopup{  
			display:none; 
			position:absolute; /* hack for internet explorer 6*/  
			height:100%;  
			width:100%;  
			top:0;  
			left:0;  
			background:#000000;  
			z-index:1;  
			
		}
		
		.popupContact{  
			display:none;    
			position:absolute; /* hack for internet explorer 6*/  
			height:700px;  
			width:880px;  
			background:#FFFFFF;  
			border:2px solid #cecece;  
			z-index:2;  
			padding:12px;  
			font-size:13px;
			
		}  

		.popupContact h1{  
			text-align:left;  
			color:#6FA5FD;  
			font-size:22px;
			font-weight:700;  
			border-bottom:1px dotted #D3D3D3;  
			padding-bottom:2px;  
			margin-bottom:20px;  
		}
		
		.popupContactClose{  
			font-size:14px;  
			line-height:14px;  
			right:6px;  
			top:4px;  
			position:absolute;  
			color:#000;  
			font-weight:700;  
			display:block;
			text-decoration: none;
		}  
		
		.active{  
    		background: #ddeff6;  
    		border: 1px solid #0099d4;  
		} 
		
		.error {
			color : red;
		}
		
		