
			/* --- BASICS --- */
			body{
				
				font-family: Optima, Ariel, sans-serif;
				font-size: 16px;
				line-height: 22px;
				color: #0f0f0f;
				margin: 0;
				background-image: url(../img/bg.jpg);
				
			}
			
			/* ----STRUCTURE -- */
			#wrapper{
				
				width:960px;
			/*	background-color: #7b7c7e; */
				margin: auto;
				
			}
			#header{
				height: 269px;
				background-image: url(../img/header.jpg);
			}
			
			#title {
				
				position: relative;
				top: 0;
				left: 0;
				display: none;
			}
			
			#logo{
				
				float:left;
				margin-right: 15px;
			}
			#flashbanner{
				
				float:left;
			}
			
			#submenu{
			
				height: 375px;
				background-image:url(../img/submenu_bg1earth.png);
				clear: both;
				
			}
			
			#leftcol{
				width: 250px;
				margin-right: 52px;
				
				float:left;
				
			}
			
			#rightcol{				
				float:left;
				
			}
			#movie{
				
				float: left;				
			}
			
			#content{
				height: 968px;
				background-image: url(../img/content_bgcare.png);
				clear:both;
				text-align: center;
			}
					
			#footer{
				height: 124px;
				background-image: url(../img/footerearth.png);
				
			}
			
					
			/* ---STYLE --- */
			
				
						/*--type--*/
			
			h1{
				
				font-family: 'Playball', cursive;
				color: #3f6b20;
				font-size: 48px;
				line-height: 50px;
				letter-spacing: 3px;	
				font-weight: lighter;
				text-shadow: 1px 1px 1px #0f0f0f;	
				
				
			}
			
			h2{
				font-family: 'Sansita One', cursive;
				font-size: 48px;
				line-height: 50px;
 				padding-left:250px;	
 				color: #de9c28;
				font-weight: lighter;	
				text-shadow: 1px 1px 1px #0f0f0f;
			}
			
			h3{
				font-family: 'Playball', cursive;
				font-size: 48px;
				line-height: 50px;
 				color: #fff;
				padding: 10px 20px 0 0;	
				font-weight: lighter;	
				text-shadow: 1px 1px 1px #0f0f0f;
				
				
			}
			
			h4{
				font-family: 'Playball', cursive;
				font-size: 30px;
				line-height: 40px;
				font-weight: lighter;	
				
				
				
			}
			
			h5{
				font-weight: lighter;
				font-size: 40px;
				line-height: 50px;
				color: #fff;
				
				
				
			}
			
			h6{
				
				font-size: 22px;
				line-height: 24px;
				font-weight: lighter;	
				color: #8b5700;
				
			}
			
			
			a{
				text-decoration: none;
				color: #fff;
				font-size: 16px;
		
			}
			
			
			a:hover{
				text-decoration: underline;
				color: #de9c28;
				
			}
			
		
			
			.subtitle{
				
				font-family: 'Playball', cursive;
				font-size: 28px;
				line-height: 40px;
				font-weight: lighter;
				color: #de9c28;
				
			}
			
		
			
			.link{
				padding: 7px 0 0 100px;
				font-size: 14px;
			}
							/*---MENU--*/
				#menu li{
			 	position: relative;
				width: 234px;
				height: 72px;
				text-align: center;
				line-height: 45px;
				
				
			}
			#menu li a{
			
				position: relative;
				width: 234px;
				height: 72px;
				text-decoration: none;
				display: block;
				
				
					
			}
			
		  		#menu li a:hover{
				text-decoration: none;
				font-size: 24px;
				color: #cfcfcf;	
				
			
				
			}
		  .hover{
				position: absolute;
				top:0;
				left:0;
				width: 234px;
				height: 72px;
				display: none;
				
			}
			
			
			
				
			#menu li .sublink{
				
				display: none;	
						
				
			}
			
					
					
			#menu li .sublink img{
				position: relative;
				left:30px;
				top: 0;
				width: 198px;
				height: 72px;
				display: block;	
				
			}

			#menu li .sublink li{
				line-height: 45px;
				z-index: 2;	
							
				
			}
			
			.hover2{
				position: absolute;
				top:0;
				left:0;
				width: 198px;
				height: 72px;
				display: none;
				
			}

								/*-- flash--*/
				#flashContent{
					-webkit-box-shadow: 0px 1px 12px rgba(50, 50, 50, 0.7);
					-moz-box-shadow:    0px 1px 12px rgba(50, 50, 50, 0.7);
					box-shadow:         0px 1px 12px rgba(50, 50, 50, 0.7);
					
				}
				#imgmap{
					
					position: relative;
					top: 0;
					left: 0;
				}
				
				
				#subtitle{
					position: absolute;
					top: 300px;
					left: 330px;
					display: block;
					width: 300px;
					height: 300px;
					
					
				}
				#title{
					display: block;
					margin-bottom: 20px;
				}
				
				
										/*--FOOTER--*/
			
				#footer ul{
										
					position: relative;
					top: 10px;
					left: 26px;
					
					
				}
				
				#footer ul>li{
					float: left;
					margin-left: 34px;
					line-height: 18px;
					margin-top: 18px;
				}
				#footer ul>li:last{
					float: left;
					margin-left: 0;
					line-height: 18px;
					margin-top: 18px;
				}
			
				#footer ul>li a{
					
					color: #000;
				}
			
				#footer ul>li a:hover{
					
					color: #de9c28;
				}
				#footer ul>li {
					
					position: relative;
					top: 0;
					left: 0;
					
					
				}
			
				.swap{
					position: absolute;
					top:inherit;
					left: inherit;	
					display: none;		
					
				}
				
			
			
			
			
			